


{% compodef () %}

    {{ caller() }}

    <div epflid="{{compo.cid}}">

        <div class="north">{{ compo.parts.north() }}</div>
        <div class="east">{{ compo.parts.east() }}</div>
        <div class="west">{{ compo.parts.west() }}</div>
        <div class="center">{{ compo.parts.center() }}</div>
        <div class="south">{{ compo.parts.south() }}</div>

    </div>


{% endcompodef %}


{% compopartdef north() %}
    Original North
{% endcompopartdef %}

{% compopartdef east() %}
    Original east
{% endcompopartdef %}

{% compopartdef west() %}
    Original west
{% endcompopartdef %}

{% compopartdef center() %}
    Original center
{% endcompopartdef %}

{% compopartdef south() %}
    Original south
{% endcompopartdef %}


{% compopartdef js () %}
{% endcompopartdef %}

