{% macro render() %}
    {% set compo = kwargs.compo %}
    {{ caller() }}
    {% if compo.row_count > compo.row_limit and compo.show_pagination %}
    <div class="col-sm-12 text-center">
        <ul class="pagination-sm pagination" style="margin: 5px 0; ">
        	{% set current_page = (compo.row_offset/compo.row_limit)|round(method='floor')|int %}
            {% set max_page = (compo.row_count/compo.row_limit)|round(method='floor')|int %}
            {% if max_page > 4 %}
            <li onclick="epfl.paginated_list_goto(
                    this, '{{ compo.cid }}', 0, {{ compo.row_limit }})"
                class="{{ '' if compo.row_offset > 0 else 'disabled' }}">
                <span aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}
            <li onclick="epfl.paginated_list_goto(
                    this,
                    '{{ compo.cid }}',
                    {{ compo.row_offset - compo.row_limit }},
                    {{ compo.row_limit }})"
                class="{{ '' if compo.row_offset > 0 else 'disabled' }}">
                <span aria-hidden="true">&lt;</span>
            </li>
            {% if max_page > 4 %}
            	{% if (max_page-current_page) < 2 %}
            		{% set pagination_start = (((compo.row_count/compo.row_limit)|round(method='floor')|int)-4)*compo.row_limit %}
            		{% set pagination_end = compo.row_count %}
            	{% elif current_page < 3 %}
            		{% set pagination_start = 0 %}
            		{% set pagination_end = 5*compo.row_limit %}
            	{% else %}
            		{% set pagination_start = (current_page-2)*compo.row_limit %}
            		{% set pagination_end = (current_page+3)*compo.row_limit %}
            	{% endif %}
            {% else %}
            	{% set pagination_start = 0 %}
            	{% set pagination_end = compo.row_count %}
            {% endif %}
            {% for i in range(pagination_start, pagination_end, compo.row_limit) %}
	            <li onclick="epfl.paginated_list_goto(
	                    this,
	                    '{{ compo.cid }}',
	                    {{ i }},
	                    {{ compo.row_limit }})"
	                class="{{ 'active' if i == compo.row_offset else '' }}">
	                <span>{{ (i/compo.row_limit + 1)|round(method='ceil')|int }}</span>
	            </li>
	        {% endfor %}
            <li onclick="epfl.paginated_list_goto(
                    this,
                    '{{ compo.cid }}',
                    {{ compo.row_offset + compo.row_limit }},
                    {{ compo.row_limit }})"
                class="{{ '' if compo.row_offset + compo.row_limit < compo.row_count else 'disabled' }}">
                <span aria-hidden="true">&gt;</span>
            </li>
            {% if max_page > 4 %}
            <li onclick="epfl.paginated_list_goto(
                    this,
                    '{{ compo.cid }}',
                    {{ ((compo.row_count/compo.row_limit)|round(method='floor')|int)*compo.row_limit }},
                    {{ compo.row_limit }})"
                class="{{ '' if compo.row_offset + compo.row_limit < compo.row_count else 'disabled' }}">
                <span aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}