{% macro render() %}
    {% set compo = kwargs.compo %}
    {% if compo.show_search %}
    <div class="epfl-input-addon">
    <i class="fa fa-search"></i>
    <input class="form-control epfl-search-input"
           type="text"
           placeholder="{{ compo.search_placeholder }}"
           id="{{ compo.cid }}_search"
           value="{{ compo.row_data['search'] if compo.row_data is defined
                                                and compo.row_data is mapping
                                                and compo.row_data['search'] is defined else '' }}" />
    </div>
    {% endif %}
    {{ caller() }}
{% endmacro %}
