div.epfl-simple-tree {
    padding: 5px;
}

div.epfl-simple-tree i {
    padding-right: 1px;
}

div.epfl-simple-tree-filter {
    padding-bottom: 5px;
}

div.epfl-simple-tree-data {
    cursor: pointer;
}

div.epfl-simple-tree-leaf-0 {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.epfl-simple-tree-leaf-0 > span {
    font-weight: bold;
}

div.epfl-simple-tree-leaf-0:hover {
    background-color: #DDDDDD;
}

div.epfl-simple-tree-leaf-0:hover button {
    display: block;
}

div.epfl-simple-tree-leaf-0 button {
    display: none;
}

div.epfl-simple-tree-leaf-1 {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
}

div.epfl-simple-tree-leaf-1:hover {
    background-color: #DDDDDD;
}

div.epfl-simple-tree-leaf-1:hover button {
    display: block;
}

div.epfl-simple-tree-leaf-1 button {
    display: none;
}

div.epfl-simple-tree-leaf-2 {
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #eeeeee;
    margin-top: 3px;
}

div.epfl-simple-tree-leaf-2:hover {
    background-color: #DDDDDD;
}

div.epfl-simple-tree-leaf-2:hover button {
    display: block;
}

div.epfl-simple-tree-leaf-2 button {
    display: none;
}

div.epfl-simple-tree-leaf-2 span {
    padding-left: 5px;
}

div.epfl-simple-tree-leaf-2 i {
    padding-right: 5px;
}

div.epfl-simple-tree-leaf-droppable-hover {
    border: 3px dotted #d1f0ec;
    background-color: transparent;
}

div.epfl-simple-tree-leaf-droppable-hover:hover {
    border: 1px dashed #1BB7A0;
    background-color: transparent;
}

div.epfl-simple-tree-leaf-2.ui-draggable-dragging {
    width: 350px;
    background-color:transparent;
    border: 1px solid #1BB7A0;
}

div.epfl-simple-tree-leaf-2.ui-draggable-dragging:hover {
    width: 100%;
    background-color: transparent;
    border: 1px solid #1BB7A0;
}

.epfl-simple-tree-scroll-upper, .epfl-simple-tree-scroll-lower{
    height: 10px;
    position: fixed;
}

div.epfl-simple-tree-leaf-selected {
    background-color:#1BB7A0;
    color:#ffffff;
    padding-left:5px;
    border:1px solid #f1f1f1;
    padding-right: 5px;
}

ul.context-dropdown-menu{
    display: none;
    border: 1px solid black;
    list-style-type: none;
    background-clip: padding-box;
    border-color: #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    position: fixed;
    z-index: 5000;
    background-color: #FFFFFF;
    padding-left: 0px;
    font-size: 14px;
    cursor:pointer;
}

ul.context-dropdown-menu li.entry:hover{
    background-color:  #DDDDDD;
}
ul.context-dropdown-menu li.entry{
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

ul.context-dropdown-menu li.divider{
    border-bottom: 1px solid #DDDDDD;
    height: 1px;
    padding-top: 3px;
}

div.epfl-simple-tree-leaf-dragging{
    border:1px dashed #1BB7A0;
}

