<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% block head %}

        <title></title>

        {{ css_imports() }}

        <style type="text/css" media="screen">
            body {font-family:arial; font-size:12px;}
            div {cursor:default;}
            a {text-decoration:none; color:#0000aa;}
            a:hover{text-decoration:underline;}
            form input[type="text"]{width: 400px;}
            form textarea{width: 400px; height: 250px;}
            form select{width: 400px;}
            table tr td{vertical-align: top;}
        </style>

    {% endblock %}

</head>
<body>

    <div id="page">

        <div id="content">{% block content %}{% endblock %}</div>

    </div>

    {{ js_imports() }}

    {% block page_js %}
    {% endblock %}

</body>
