<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="row epfl-toggle-input">
    {% if compo.label %}
        <label for="{{ compo.cid }}_input" class="control-label">{{ compo.label }}</label>
    {% endif %}
    <div>
        <input type="checkbox"
               id="{{compo.cid}}_input"
               name="{{ compo.name }}"
               data-on-text="{{ compo.on_text }}"
               data-off-text="{{ compo.off_text }}"
               value="{{ compo.value if compo.value is not none else '' }}"/>
        {% if compo.validation_error %}
            <small class="help-block has-error">{{ compo.validation_error }}</small>
        {% endif %}
    </div>
</div>
