.sort-widget { list-style-type: none; margin: 0; padding: 0; }
.sort-widget li { 
	margin: 0 3px 3px 3px; 
	padding: 5px; 
	padding-left: 20px; 
	padding-right: 20px; 
	height: 18px; 
	cursor: move;
	min-width: 300px;
	white-space: nowrap;
	background-image: url(stripes.png);
	background-repeat: repeat-y;
	background-position: left;
}
.sort-widget span { 
	cursor: pointer;
}

