<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% block head %}

        <title>{% block title %}{% endblock %} - EPFL - Barebone</title>

        {{ css_imports() }}

    {% endblock %}

</head>
<body>

    <div id="page">

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            <hr/>
            {% block footer %}
            {% endblock %}
        </div>

    </div>

    {{ js_imports() }}

    {% block page_js %}
    {% endblock %}

</body>
