<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="row epfl-text-input">
    {% if compo.label %}
        <label for="{{ compo.cid }}_input" class="control-label">{{ compo.label }}</label>
    {% endif %}
    <div>
        <textarea class="form-control"
                  id="{{compo.cid}}_input"
                  name="{{ compo.name }}"
                  style="{{ compo.style if compo.style is defined else '' }}"
                  placeholder="{{ compo.placeholder if compo.placeholder is not none else '' }}">{{ compo.value if compo.value is not none else '' }}</textarea>
        {% if compo.validation_error %}
            <small class="help-block has-error">{{ compo.validation_error }}</small>
        {% endif %}
    </div>
</div>
