
    <div class="pull-left">
        {{ compo.data }}
    </div>
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="btn btn-default btn-xs pull-right epfl-context-list-dropdown-button">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu epfl-context-list-dropdown" role="menu" aria-labelledby="dLabel">
        {% for entry in compo.menu %}

            {% if entry.type == "link" %}
                <li><a href="#"
                       onclick=" epfl.ContextListLayout.ContextEvent('{{ entry.event }}', {entry_id:'{{ compo.id }}', data: '{{ compo.data }}'});">
                    {{ entry.name }}</a></li>
            {% else %}
                <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
