<div epflid="{{ compo.cid }}" id="sidebar_{{ compo.cid }}" class="epfl_sidebar">
    <aside class="nav-container ng-scope nav-fixed nav-vertical">
        <div class="nav-wrapper ng-scope">
            <ul class="nav ng-scope" id="nav" style="overflow: hidden; width: auto; height: 100%;">
                {% for link in compo.links %}
                    <li class="sidebar_head">
                        <a href="{{ link['url'] }}" id="{{ link['name'] }}">
                            <i class="fa fa-{{ link['icon'] }}"></i><span>{{ link['name'] }}</span>
                        </a>
                        {% if link['children'] is defined %}
                            <ul class="nav ng-scope sidebar_links"  style="display:block">
                                {% for child in link['children'] %}
                                    <li  class="sidebar_links">
                                        <a href="{{ child['url'] }}" id="{{ child['name'] }}">
                                            <span {% if compo.current_url == child['url'] %}class="text-primary"{% endif %}>{{ child['name'] }}</span>
                                            <p class="pull-right"><i class="fa fa-caret-right"></i></p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <i class="fa fa-caret-right icon-has-ul"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>