<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="epfl-sidebar">
    <aside>
        <ul class="epfl-sidebar-navi">
            {% for link in compo.links %}
                <li class="epfl-sidebar-navi-entry{% if compo.selected_parent == link['name']%} epfl-sidebar-selected{% endif %}">
                    <span>
                        <i class="fa fa-{{ link['icon'] }} fa-2x"></i><br>{{ link['name'] }}
                    </span>
                    {% if link['children'] is defined %}
                        <ul class="epfl-sidebar-menu">
                            {% for child in link['children'] %}
                                <li class="epfl-sidebar-menu-entry" data-url="{{ child['url'] }}" data-parent-name="{{ link['name'] }}" data-child-name="{{ child['name'] }}">
                                    <span>
                                            <i class="fa fa-caret-right"></i>{{ child['name'] }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>