<div epflid="{{ compo.cid }}" id="sidebar_{{ compo.cid }}">
    <aside class="nav-container ng-scope nav-fixed nav-vertical">
        <div class="nav-wrapper ng-scope">
            <ul class="nav ng-scope" id="nav" style="overflow: hidden; width: auto; height: 100%;">
                {% for link in compo.links %}
                    <li style="background-color: #d7d7d7;">
                        <a href="{{ link['url'] }}">
                            <i class="fa fa-{{ link['icon'] }}"></i><span>{{ link['name'] }}</span>
                        </a>
                        {% if link['children'] is defined %}
                            <ul class="nav ng-scope" style="display: block;background-color: #f9f9f9">
                                {% for child in link['children'] %}
                                    <li>
                                        <a href="{{ child['url'] }}">
                                            <span {% if compo.current_url == child['url'] %}class="text-primary"{% endif %}>{{ child['name'] }}</span>
                                            <p class="pull-right"><i class="fa fa-caret-right"></i></p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <i class="fa fa-caret-right icon-has-ul"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>