


{% compodef () %}

    {{ caller() }}

    <div epflid="{{self.cid}}">

        <div class="north">{{ self.parts.north() }}</div>
        <div class="east">{{ self.parts.east() }}</div>
        <div class="west">{{ self.parts.west() }}</div>
        <div class="center">{{ self.parts.center() }}</div>
        <div class="south">{{ self.parts.south() }}</div>

    </div>


{% endcompodef %}


{% compopartdef north() %}
    Original North
{% endcompopartdef %}

{% compopartdef east() %}
    Original east
{% endcompopartdef %}

{% compopartdef west() %}
    Original west
{% endcompopartdef %}

{% compopartdef center() %}
    Original center
{% endcompopartdef %}

{% compopartdef south() %}
    Original south
{% endcompopartdef %}


{% compopartdef js () %}
{% endcompopartdef %}

