<div class="epfl_table" epflid="{{ compo.cid }}" role="table">
    <table class="table table-bordered">
        {% for rows in compo.components %}
            <tr>
                <div class="epfl_row" epflid="{{ compo.cid }}" role="row">
                    {% for cell in rows.components %}
                        <td>
                            <div class="epfl_cell" epflid="{{ compo.cid }}" role="ell">
                                {% for component in cell.components %}
                                    {{ component.render() }}
                                {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </div>
            </tr>
        {% endfor %}
    </table>
</div>

