{% macro render() %}
    {% set compo = kwargs.compo %}
    {% if compo.show_search %}
        <div class="epfl-new-selectize-controls">
            <div class="epfl-input-addon epfl-new-selectize-search-field">
                <i class="fa fa-search"></i>
                <input class="form-control epfl-search-input"
                       type="text"
                       placeholder="Suchen..."
                       id="{{ compo.cid }}_search"
                       value="{{ compo.row_data['search'] if compo.row_data is defined
                                                and compo.row_data is mapping
                                                and compo.row_data['search'] is defined else '' }}"/>
            </div>
            <div class="input-group-btn epfl-new-selectize-toggle">
                <button class="btn btn-default " id="selectize-toggle-{{ compo.cid }}"
                        {% if compo.readonly is defined and compo.readonly %}disabled{% endif %}><span
                        class="caret"></span></button>
            </div>
        </div>
    {% endif %}
    <ul class="epfl-new-selectize" id="selectize-{{ compo.cid }}"
        {% if compo.drop_down_height is defined and compo.drop_down_height != None %}style="max-height:{{ compo.drop_down_height }}px;overflow-y: scroll"{% endif %}>
{% endmacro %}