{% compodef() %}
<div epflid="{{self.cid}}">
	{% if self.title %}
		{% if self.collapsable %}
		<a href="#" class="toggle-list"><i class="fa fa-{{ "minus" if not self.is_collapsed else "plus" }}"></i></a>
		{% endif %}
		{{ self.title }}
	{% endif %}
	<div class="list-group {{ self.get_valid_types() }}" id="{{self.cid}}" style="{{ "display: none;" if self.collapsable and self.is_collapsed else "" }}">
	    {% for compo in self.components %}
	        {{ compo() }}
	    {% endfor %}
	</div>
</div>
{% endcompodef %}


{% compopart js () %}
<script>
    epfl.init_component("{{self.cid}}",
                        "DroppableComponent",
                        {type: {{ self.get_valid_types(True)|safe }}});
</script>
{% endcompopart %}
