<div epflid="{{compo.cid}}">
	{% if compo.title %}
		{% if compo.collapsable %}
		<a href="#" class="toggle-list"><i class="fa fa-{{ "minus" if not compo.is_collapsed else "plus" }}"></i></a>
		{% endif %}
		{% if compo.title_renamable %}
		<input class="title-rename inactive" value="{{ compo.title }}" data-oldtitle="{{ compo.title }}" />
		{% else %}
		<span class="plain-title">{{ compo.title }}</span>
		{% endif %}
		
	{% endif %}
	<div class="list-group {{ compo.get_valid_types() }}" id="{{compo.cid}}" style="{{ "display: none;" if compo.collapsable and compo.is_collapsed else "" }}">
	    {% for compo in compo.components %}
	        {{ compo() }}
	    {% endfor %}
	</div>
</div>
