<div epflid="{{compo.cid}}" class="panel-body">
	{% if compo.components|length == 0 %}
	<div class="simpledroppable {{ compo.get_valid_types() }}">
	<div class="simpledroppable-placeholder-box">
	<i class="fa fa-3x fa-plus"></i><br/>
	{{ compo.placeholder_text|default('Add...') }}</div>
	</div>
	{% else %}
	{% if compo.is_content_removable %}
		<a href="#" class="simpledroppable-remove-button"><i class="fa fa-lg fa-times-circle-o"></i></a>
	{% endif %}
	<div class="list-group row {{ compo.get_valid_types() }}" id="{{compo.cid}}">
	    {% for compo in compo.components %}
	        {{ compo() }}
	    {% endfor %}
	</div>
	{% endif %}
</div>
