div.epfl-table-cell{
    height:15px;
    padding: 0px;
    margin: 0px;
}

div.epfl-table-edit{
    position: relative;
    top:-5px;
    height: 3px;
}

.epfl-table {
	overflow-y: auto;
	display: block;
	height: 100%;
}

.epfl-table tbody {
	width: 100%;
	display: table;
}

.tablelistlayout-sortcolumn {
	cursor: pointer;
}


ul.context-dropdown-menu {
    display: none;
    border: 1px solid black;
    list-style-type: none;
    background-clip: padding-box;
    border-color: #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    position: fixed;
    z-index: 5000;
    background-color: #FFFFFF;
    padding-left: 0px;
    font-size: 14px;
    cursor: pointer;
}

ul.context-dropdown-menu li.entry:hover {
    background-color: #DDDDDD;
}

ul.context-dropdown-menu li.entry {
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

ul.context-dropdown-menu li.divider {
    border-bottom: 1px solid #DDDDDD;
    height: 1px;
    padding-top: 3px;
}

div.epfl-table-text-context div{
    height:20px;
    padding: 0px;
    margin: 0px;
}

div.epfl-table-text-context button{
    display:none;
}

tr.epfl-table-row:hover div.epfl-table-text-context button{
    display:inline;
}
