div.epfl-table-cell{
    height:15px;
    padding: 0px;
    margin: 0px;
}

div.epfl-table-edit{
    position: relative;
    top:-5px;
    height: 3px;
}

.epfl-table {
	overflow-y: scroll;
	display: block;
	height: 100%;
}

.epfl-table tbody {
	width: 100%;
	display: table;
}

.tablelistlayout-sortcolumn {
	cursor: pointer;
}