<div  epflid="{{compo.cid}}" >
        <ul id="{{compo.cid}}">
            {% if has_caller %}
                {{ caller() }}
            {% else %}
            	{% if compo.child_components is not none %}
                {% for component in compo.child_components %}
                   {% call rowdef(component.name) %}
                        {{ component.element() }}
                    {% endcall %}
                {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
</div>



{% macro rowdef(rowid) %}
    <li id="{{rowid}}">
        <div class="listicon"><i class="fa fa-sort fa-2x"></i></div>
        <div class="listele">{{caller()}}</div>
    </li>
{% endmacro %}
