
{% compodef () %}
    <div  epflid="{{self.cid}}" >
        <ul id="{{self.cid}}">
            {% if has_caller %}
                {{ caller() }}
            {% else %}
                {% for component in self.child_components %}
                   {% call rowdef(component.name) %}
                        {{ component.element() }}
                    {% endcall %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endcompodef %}


{% macro rowdef(rowid) %}
    <li id="{{rowid}}">
        <div class="listicon"><i class="fa fa-sort fa-2x"></i></div>
        <div class="listele">{{caller()}}</div>
    </li>
{% endmacro %}


{% compopart js () %}
   <script>
       epfl.init_component("{{self.cid}}", "SortableComponent", {});
   </script>
{% endcompopart %}

