{% macro menu_item(compo, item) %}
    {% for subitem in item["items"] %}
        {% if subitem["visible"] %}
            <li id="{{ subitem['label'] }}" class="{{ subitem['class'] }}"><a href="{{ compo.get_href(subitem) }}" title="{{ subitem['label'] }}">{{ subitem['label'] }}</a>
        {% endif %}
        {% if "items" in subitem %}
        <ul>
            {{ menu_item(compo, subitem) }}
        </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div epflid="{{compo.cid}}" >
    <ul id="epfl_menu">
        {{ menu_item(compo, compo.menu_def) }}
    </ul>
</div>
