<div id="{{ compo.cid }}" epflid="{{ compo.cid }}"
     class="row epfl-textarea {{ 'mandatory' if compo.mandatory else '' }}">
	{% if compo.label %}
	<label for="{{ compo.cid }}" class="col-sm-2 control-label">{{ compo.label }}</label>
	{% endif %}
    <div class="{{ 'col-sm-10' if (compo.label is defined and not compo.label is none) else 'col-sm-12' }}{{ ' has-error' if compo.validation_error else '' }}">
        <textarea class="form-control"
                  id="{{compo.cid}}_texteditor"
                  name="{{ compo.name }}"
                  style="{{ compo.style if compo.style is defined else '' }}"
                  placeholder="{{ compo.placeholder if compo.placeholder is not none else '' }}"
                >{{ compo.value if compo.value is not none else '' }}</textarea>
	    {% if compo.validation_error %}
	        <small class="help-block">{{ compo.validation_error }}</small>
	    {% endif %}
    </div>
</div>
