
td.dragHandle {
    background: url("/epfl/components/flipflop/updown.gif") no-repeat center center;
    width: 16px;
}

.list-group-active {
    box-shadow: 0 0 20px black;
}

.list-group-active:hover {
    padding-bottom: 0px;
}