.list-group-active {
    box-shadow: 0 0 20px black;
}

.list-group {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

.list-group-active:hover {
    padding-bottom: 0px;
}

.simpledroppable-hover {
	color: blue;
}
.simpledroppable-remove-button {
	float:right;
	margin-top: -8px;
	margin-right: -16px;
}
.simpledroppable-placeholder-box {
	border: 1px dashed;
	padding: 15px;
	text-align:center;
}