{% if compo.text is string %}
{% set compo_text = compo.text %}
{% set compo_html = "false" %}
{% elif compo.text is iterable %}
{% set compo_text = '<p>%s</p>'|format(compo.text|join('</p><p>')) %}
{% set compo_html = "true" %}
{% else %}
{% set compo_text = compo.text %}
{% set compo_html = "false" %}
{% endif %}
<div id="{{compo.cid}}" epflid="{{ compo.cid }}">
    <a class="btn{% if compo.small_button is defined and compo.small_button %} btn-xs{% endif %} epfl-popover{% if compo.color is defined and compo.color is not none %} btn-{{ compo.color }}{% else %} btn-link{% endif %}{{ " disabled" if (compo.disabled is defined and compo.disabled) else "" }}"
            id="{{ compo.cid }}_popover"
            {% if compo.title %}title="{{ compo.title }}"{% endif %}
            data-container="body" data-html="{{ compo_html }}" data-toggle="popover"
            data-placement="{{ compo.position }}"
            data-content="{{ compo_text|safe }}"
            {% if compo.trigger %}
                data-trigger="{{ compo.trigger }}"
            {% endif %}
            tabindex="0">
  	{% if compo.icon is not none %}
  	<i class="fa {{ compo.icon }}"></i>
  	{% endif %}{{ compo.label if compo.label is not none else '' }}
	</a>
</div>

