div.epfl-upload.epfl-upload-file-over {
    border: 1px dashed #1bb7a0;
}

div.epfl-dropzone {
    border-width: 2px;
    border-color: #D7D7D7;
    border-style: dashed;
    border-radius: 15px;
}

img.epfl-dropzone-image {
    width: 100%;
    display: none;
}

p.epfl-dropzone-addicon{
    position:relative;
    top:35%;
}

i.epfl-dropzone-remove-icon {
    position:absolute;
    right:15px;
    display:none;
}

div.epfl-dropzone h2{
    display:none;
    text-align: center;
    position:relative;
    top:35%;
}