.epfl-multiselect-list {
   overflow-y:auto;
   border: 1px solid #DFDFDF;
}

.multiselect-selectable.selected {
    background-color: #ccc;
}

li.multiselect-selectable {
    height: 30px;
    padding: 5px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.in-multiselect-group {
    margin-left: 10px;
}

button.epfl-selecttransfer{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}