{% if (compo.label is defined and not compo.label is none) %}
	{% if compo.layout_vertical is defined and compo.layout_vertical %}
	<div id="{{ compo.cid }}" epflid="{{ compo.cid }}">
	<div class="row"><label class="col-sm-12">{{ compo.label }}</label></div>
	<div class="row"><div class="col-sm-12">
		{% if (compo.tag is defined and not compo.tag is none) %}
        <{{ compo.tag }} class="{{ compo.tag_class if compo.tag_class is defined and (compo.tag_class is not none) else '' }}">{{ compo.value }}</{{ compo.tag }}>
	    {% else %}
	    {{ compo.value }}
	    {% endif %}
	</div></div>
	</div>
	{% else %}
	<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="row">
	<label class="col-sm-2 control-label">{{ compo.label }}</label>
	<div class="col-sm-10">
		{% if (compo.tag is defined and not compo.tag is none) %}
        <{{ compo.tag }} class="{{ compo.tag_class if compo.tag_class is defined and (compo.tag_class is not none) else '' }}">{{ compo.value }}</{{ compo.tag }}>
	    {% else %}
	    {{ compo.value }}
	    {% endif %}
	</div>
	</div>
	{% endif %}
{% elif compo.verbose is defined and compo.verbose %}
    {% if (compo.tag is defined and not compo.tag is none) %}
        <{{ compo.tag }} id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="{{ compo.tag_class if compo.tag_class is defined and (compo.tag_class is not none) else '' }}">{{ compo.value }}</{{ compo.tag }}>
    {% else %}
        <span id="{{ compo.cid }}" epflid="{{ compo.cid }}">{{ compo.value }}</span>
    {% endif %}
{% else %}
    <span epflid="{{ compo.cid }}" title="{{ compo.title if compo.title is defined else '' }}">{{ compo.value }}</span>
{% endif %}
