{% compodef() %}
<div class="container{{ '-fluid' if not self.constrained else '' }}" epflid="{{ self.cid }}">
    {% if self.cardinal_components('north') %}
    <div class="row">
        <div class="col-sm-12">
            {% for compo_obj in self.cardinal_components('north') %}
                {{ compo_obj.render() }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
    {% if self.cardinal_components('west') %}
        <div class="col-sm-2">
            {% for compo_obj in self.cardinal_components('west') %}
                {{ compo_obj.render() }}
            {% endfor %}
        </div>
    {% endif %}
        <div class="col-sm-{{ 12 - 2 * self.has_cardinal('east') - 2 * self.has_cardinal('west') }}">
            {% for compo_obj in self.cardinal_components() %}
                {{ compo_obj.render() }}
            {% endfor %}
        </div>
    {% if self.cardinal_components('east') %}
        <div class="col-sm-2">
            {% for compo_obj in self.cardinal_components('east') %}
                {{ compo_obj.render() }}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    {% if self.cardinal_components('south') %}
    <div class="row">
        <div class="col-sm-12">
            {% for compo_obj in self.cardinal_components('south') %}
                {{ compo_obj.render() }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endcompodef %}


{% compopart js () %}
{% endcompopart %}