{% macro render() %}
    {% set compo = kwargs.compo %}
    {% set compo_obj = kwargs.compo_obj %}
    <li class="">
        <a href="{{ compo_obj.url }}">
            <i class="fa fa-{{ compo_obj.icon }}"></i><span>{{ compo_obj.name }}</span>
        </a>
        {% if (compo_obj.children | length) > 0 %}
            <ul class="nav ng-scope" style="display: block;background-color: #f9f9f9">
                {% for child in compo_obj.children %}
                    <li>
                        <a href="{{ child['url'] }}">
                            <span>{{ child['name'] }}</span>

                            <p class="pull-right"><i class="fa fa-caret-right"></i></p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <i class="fa fa-caret-right icon-has-ul"></i>
        {% endif %}
    </li>


{% endmacro %}