<div class="list-group-item{{ " selectable" if compo.selectable else "" }}{{ " selected" if compo.is_selected else "" }}{{ " rename-inactive" if compo.title_renamable else "" }}"
     id="{{compo.cid}}"
     epflid="{{compo.cid}}">
    {% if not compo.components %}
    	{% if compo.title_renamable %}
			<input class="title-rename inactive" value="{{ compo.title }}" data-oldtitle="{{ compo.title }}" />
		{% else %}
			<span class="plain-title">{{ compo.title if compo.title != None else compo.id }}</span>
		{% endif %}
    {% endif %}
    {% for compo_obj in compo.components %}
        {{ compo_obj.render() }}
    {% endfor %}
</div>
