
{% macro main(ds) %}
   <div id="{{ds.wid}}_preview">
    {% if ds.preview_url %}
         {{ preview_image(ds) }}
    {% endif %}
   </div>
    <input id="{{ds.wid}}" type="file" name="{{ds.name}}[]" data-url="#" {% if ds.params.multiple %} multiple {% endif %}>
{% endmacro %}

{% macro preview_image(ds) %}
    <a target="_blank" href="{{ ds.preview_url }}">
        <div class='epfl-form-upload-preview'>
            <img src="{{ ds.preview_url }}" {{ ds.params.preview_width | optional_html_attr("width") }}
                                            {{ ds.params.preview_height | optional_html_attr("height") }}>
            <br>
            {{ ds.preview_fn }} 
        </div>
    </a>
{% endmacro %}

{% macro init_js(ds) %}
    epfl.components["{{ds.cid}}"].init_widget("{{ds.wid}}", "UploadWidget", {name:"{{ds.name}}"
                                                                             }
    );                           
{% endmacro %}

