{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}

    Feed me up!

    {% compo box(title = "Dynamics...") %}
        {% for compo_obj in box.components %}
            <div style="width:300px;height:100px;float:left;overflow:auto;background:gray;margin:5px;padding:5px">
                {{ compo_obj.render() }}
            </div>
        {% endfor %}
    {% endcompo %}

    {% compo form() %}

        {% call self.macros.buttons() %}
            {{ self.reload }}
            {{ self.add }}
        {% endcall %}

    {% endcompo %}

{% endblock %}
