{% macro render() %}
    {% set compo = kwargs.compo %}
    <div class="epfl-tree-label {{ "expanded" if compo.show_children else "collapsed" }}">
	{% if compo.slotted_components('context_menu') %}
	    <button class="btn btn-default btn-xs epfl-tree-context-menu" type="button"{{ ' style="display:none;"'|safe if compo.show_context_menu_on_hover_only else "" }}><i class="fa fa-navicon"></i></button>
	    {% endif %}
    	{% if compo.label is defined  and not compo.label is none %}
	    <span>
	    {% if compo.number_of_children == 0 and compo.empty_node_icon %}
	    	<i class="fa {{ compo.empty_node_icon }}"></i>
	    {% elif compo.show_children %}
	        <i class="fa {{ compo.custom_node_icon_expanded if compo.custom_node_icon_expanded else "fa-minus" }}"></i>
	    {% else %}
	        <i class="fa {{ compo.custom_node_icon_collapsed if compo.custom_node_icon_collapsed else "fa-plus" }}"></i>
	    {% endif %}
	    {{ compo.label }}
	    </span>
	</div>
	<div style="margin-left:10px;">
    {% else %}
    </div>
    <div>
    {% endif %}
{% endmacro %}