{% macro render() %}
    {% set compo = kwargs.compo %}
    {% if compo.max_height is defined and not compo.max_height is none %}
	{% set max_height_style = "max-height: " + compo.max_height|string + "px;" %} 
	{% endif %}
	{% if compo.min_height is defined and not compo.min_height is none %}
	{% set min_height_style = "min-height: " + compo.min_height|string + "px;" %} 
	{% endif %}
    <div epflid="{{compo.cid}}" class="epfl-tree" style="{{ max_height_style if max_height_style is defined else "" }}{{ min_height_style if min_height_style is defined else "" }}">
        {{ caller() }}
    </div>
{% endmacro %}