
{% compopart table () -%}
    <table id="{{self.cid}}_table" epflid="{{self.cid}}$table" ></table>
{%- endcompopart %}

{% compopart pager () -%}
    <div id="{{self.cid}}_pager" epflid="{{self.cid}}$pager" ></div>
{%- endcompopart %}


{% compopart js () %}
    <script>

    epfl.init_component("{{self.cid}}", "TableComponent",

                                             {"opts": {
                                                        url: "{{self.table_data_url}}",
                                                        page: {{self.current_page}},
                                                        colModel: {{self.columns_def|tojson}},
                                                        rowNum: "{{self.num_rows or "Alle"}}",
                                                        rowList: {{self.num_rows_domain|tojson}},
                                                        pager: "{{self.cid}}_pager",
                                                        sortname: "{{ self.sort_column|tojson_ifjson }}",
                                                        sortname_default: "{{self.sort_column_default}}",
                                                        sortorder: "{{self.sort_order}}",
                                                        sortorder_default: "{{self.sort_order_default}}",
                                                        caption: {{self.caption|tojson}},
                                                        autowidth: {{self.autowidth|tojson}},
                                                        width: {{self.width}},
                                                        height: {{self.height}},
                                                        repeatitems: true,
                                                        gridview: true,
                                                        hiddengrid: !{{self.table_shown|tojson}},
                                                        keyIndex: "{{self.index_column_name}}",
                                                        pgtext: {{self.pager_template|tojson}},
                                                        multisort: {{ self.multisort|format_bool }}
                                                    },

                                              "scroll_pos": {{self.scroll_pos|tojson}}
    });
    </script>
{% endcompopart %}


{% compodef () %}
    <div epflid="{{self.cid}}">
        {{ self.parts.table() }}
        {{ self.parts.pager() }}
    </div>
{% endcompodef %}

