<a epflid="{{ compo.cid }}"
   {% if compo.breadcrumb %}
   class="breadcrumb-link {{ "first" if compo.is_first() else "" }}"
   {% elif compo.tile %}
   class="tile-link"
   {% elif compo.list_element %}
   class="list-group-item col-sm-12{{ " active" if compo.is_current_url() else "" }}"
   {% endif %}
   {% if compo._url %}
   href="{{ compo._url }}"
   {% endif %}
   >
    {% if compo.icon %}
        <i class="fa fa-{{ compo.icon }}"></i>
    {% endif %}
    <span>{{ compo.name }}</span>
</a>
