{% if not compo.name and compo.text %}
    {% set name = compo.text %}
{% else %}
    {% set name = compo.name %}
{% endif %}
<a epflid="{{ compo.cid }}"
   {% if compo.breadcrumb %}
       class="breadcrumb-link {{ "first" if compo.is_first() else "" }}"
   {% elif compo.tile %}
       class="tile-link"
   {% elif compo.list_element %}
       class="list-group-item col-sm-12{{ " active" if compo.is_current_url() or compo.active else "" }}"
   {% elif compo.btn_link %}
       class="btn btn-default{{ " active" if compo.is_current_url() or compo.active else "" }}"
   {% endif %}
   {% if compo._url %}
   href="{{ compo._url }}"
   {% endif %}
   >
    {% if compo.icon %}
        <i class="fa fa-{{ compo.icon }}"></i>
    {% endif %}
    {% if compo.selection %}
        {% set pre_marked = name[0:compo.selection[0]] %}
        {% set marked = name[compo.selection[0]:compo.selection[1]] %}
        {% set post_marked = name[compo.selection[1]:] %}
        <span class="marked_link">{{ pre_marked }}<mark>{{ marked }}</mark>{{ post_marked }}</span>
    {% else %}
        <span>{{ name }}</span>
    {% endif %}
</a>
