.fht-tbody {
    overflow: auto;
}

table.fht-table, .fht-table {
    margin-bottom: 0px;
}

.fht-table>thead>tr>th,
.fht-table>tbody>tr>td {
    overflow: hidden;
}

.epfl-table-layout .show-column-icon, .epfl-table-layout .hide-column-icon, .epfl-table-layout .header-sortable {
    cursor: pointer;
}

.epfl-table-layout-container {
    overflow: hidden;
}