<div epflid="{{ compo.cid }}" class="row">
{% if compo.layout_vertical is defined and compo.layout_vertical %}
	{% if compo.label is defined and compo.label %}
	<label for="{{ compo.cid }}" class="col-sm-12">{{ compo.label }}</label>
	{% endif %}
    <div class="col-sm-12">
{% else %}
	{% if compo.label is defined and compo.label %}
	<label for="{{ compo.cid }}" class="col-sm-2 control-label">{{ compo.label }}</label>
	{% endif %}
    <div class="{{ 'col-sm-10' if (compo.label is defined and not compo.label is none) else 'col-sm-12' }}">
{% endif %}

    <div class="input-group">
        <input type="text" class="form-control epfl-selectize-input" id="selectize-input-{{ compo.cid }}">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default epfl-selectize-toggle" id="selectize-toggle-{{ compo.cid }}"><span class="caret"></span></button>
        </div>
    </div>
    <ul class="epfl-selectize" id="selectize-{{ compo.cid }}">
        {% for entry in compo.entries %}
            <li class="epfl-selectize epfl-selectize-head"><span
                    class="epfl-selectize epfl-selectize-heading">{{ entry['name'] }}</span>
                <ul class="epfl-selectize-innerlist">
                    {% for subentry in  entry['entries'] %}

                        <li class="epfl-selectize epfl-selectize-entry {{ compo.cid }}" id="selectize-entry-{{ compo.cid }}" data-selectizeid="{{ subentry.id }}">
                            <span class="epfl-selectize epfl-selectize-text">{{ subentry.value }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="epfl-selectize-divider"></li>
        {% endfor %}
    </ul>
    
	</div>
</div>

