{% set compo_col = compo.compo_col %}
<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="row epfl-text-input epfl-upload">
    {% if compo.label %}
        {% if compo.layout_vertical == True %}
            <div class="row">
                <div class="col-sm-{{ compo_col }}">
                    <label for="{{ compo.cid }}_input" class="control-label">{{ compo.label }}</label>
                </div>
            </div>
        {% else %}
            {% set compo_col = compo_col - compo.label_col %}
            <label for="{{ compo.cid }}_input" class="control-label col-sm-{{ compo.label_col }}"
                    {% if compo.label_style is defined %}
                   style="{{ compo.label_style }}"
                    {% endif %}
                    >{{ compo.label }}</label>
        {% endif %}
    {% endif %}
    {% if compo.layout_vertical == True %}
        <div class="row">{% endif %}

    <div class="col-sm-{{ compo_col }}{{ ' has-error' if compo.validation_error else '' }}">

        {% if compo.readonly is defined and compo.readonly %}
            <p class="form-control-static">{{ compo.value if compo.value is not none else '' }}</p>
        {% else %}
        {# 'Real' Compo Area #}

             {# Image #}
            <div id="{{ compo.cid }}_img">
                {% if compo.value and not compo.no_preview %}
                    {% if compo.show_remove_icon %}
                        <i class="fa fa-times fa-lg color-danger epfl-upload-remove-icon"></i>
                    {% endif %}
                    <img src="{{ compo.value }}" class="epfl-upload-image" data-cid="{{ compo.cid }}"/>
                {% endif %}
            </div>

            {# Dropzone #}
            {% if compo.show_drop_zone and not compo.value%}
                <div class="epfl-dropzone" style="height:{{ compo.drop_zone_height }}px">
                    <p class="text-center epfl-dropzone-addicon">
                        <i class="fa fa-plus fa-5x"></i>
                    </p>
                </div>
            {% endif %}
            {# File Input #}
            {% if compo.show_file_upload_input %}
                <div class="epfl-upload-input-zone">
                    <input class="form-control" type="file" id="{{ compo.cid }}_input" name="{{ compo.name }}"
                           value="{{ compo.value if compo.value is not none else '' }}"
                           placeholder="{{ compo.placeholder if compo.placeholder is not none else '' }}"/>
                </div>
            {% endif %}


        {% endif %}
        {% if compo.validation_error %}
            <small class="help-block">{{ compo.validation_error }}</small>
        {% endif %}
    </div>
    {% if compo.layout_vertical == True %}</div>{% endif %}
</div>

