<div class="panel panel-default" id="{{ compo.cid }}" epflid="{{ compo.cid }}" {% if compo.height %}style="height: {{ compo.height }}px;"{% endif %}>
    {% call before() %}
    {% endcall %}
    {% if compo.title is defined %}
        <div class="panel-heading">{{ compo.title }}</div>
    {% endif %}
    <div id="{{ compo.cid }}_container" style="overflow: hidden; {% if compo.height %}height: {{ compo.height - 80 }}px;{% endif %}">
        <table id="table_{{ compo.cid }}" class="table table-condensed table-hover epfl-table-layout"
            {% if compo.style is defined %}
                style="{{ compo.style }}"
            {% endif %} >
            {% if compo.headings is defined %}
                <thead>
                    <tr>
                        {% for header in compo.headings %}
                            <th {% if header.width is defined %}style="width: {{ header.width }}px;"{% endif %}>{{ header.title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for slot_name, slot_content in compo.slotted_components.items() %}
                <tr>
                {% for compo_obj in slot_content %}
                    <td>
                        {{ compo_obj.render() }}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% call after() %}
        {% endcall %}
    </div>
</div>
