.epfl-context-list {
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.epfl-context-list-group {
    overflow-y: visible;
}

li.epfl-context-list-entry{
    padding:0;
}

li.epfl-context-list-entry:hover {
    background-color: #F5F5F5;
}