.epfl-context-list {
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.epfl-context-list-group {
    overflow-y: visible;
}

li.epfl-context-list-entry {
    padding:5px 5px 25px 15px;
}

li.epfl-context-list-entry:hover {
    background-color: #F5F5F5;
}

li.epfl-context-list-entry:hover button {
    display: block;
}

ul.epfl-context-list-dropdown {
    float: right;
}

button.epfl-context-list-dropdown-button {
    display: none;
}