{% call container() %}
    {% call before() %}
    {% endcall %}
    {% call inner_container() %}
        {% for compo_obj in compo.components %}
            {% if compo_obj.is_visible() %}
                {% call row(compo_obj=compo_obj) %}
                    {% if compo_obj.icon is defined and compo_obj.icon %}
                        <i class="pull-left fa fa-{{ compo_obj.icon }}"></i>
                    {% endif %}
                    {{ compo_obj.render() }}
                {% endcall %}
            {% endif %}
        {% endfor %}
    {% endcall %}
    {% call after() %}
    {% endcall %}
{% endcall %}