{% for cell in compo.data %}
    {% if cell.type == "head" %}
        <th epflid="{{ compo.cid }}">
            {% if cell.sortable %}
                <span onclick='epfl.TableListLayout.OrderByClick("{{ cell.data }}")'>{{ cell.data }}
                    {% if cell.currentSortedBy == True %}
                        {% if cell.direction == 'asc' %}
                            <i class="fa fa-sort-asc"></i>
                        {% else %}
                            <i class="fa fa-sort-desc"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-sort"></i>
                    {% endif %}
                </span>
            {% else %}
                {{ cell.data }}
            {% endif %}
        </th>
    {% else %}
        <td epflid="{{ compo.cid }}">
            <div style="height:15px; padding: 0px; margin: 0px">
                {% if cell.type == 'text' %}
                    {{ cell.data }}
                {% elif cell.type == 'icon' %}
                    <i class="fa fa-{{ cell.icon }} fa-{{ cell.size }}x {% if cell.color is defined %}text-{{ cell.color }}{% endif %}"></i>
                    {% if cell.text is defined %}{{ cell.text }}{% endif %}
                {% elif cell.type == 'progress' %}
                    <div class="progress">
                        {% for bar in cell.data %}
                            <div class="progress-bar {% if bar.color is defined %}progress-bar-{{ bar.color }}{% endif %}"
                                 style="width: {{ bar.width }}">
                                <span>{{ bar.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% elif cell.type == 'button' %}
                    <button type='button' class='btn btn-default'
                            onclick='epfl.TableListLayout.buttonClickHandler("{{ cell.data.handler }}")'>{{ cell.data.text }}</button>
                {% elif cell.type == 'component' %}
                    {{ compo.get_next_component()() }}
                {% elif cell.type == 'badge' %}
                    {{ cell.text }}
                    <span class="badge {% if cell.color is defined %}alert-{{ cell.color }}{% endif %}">{{ cell.badgetext }}</span>
                {% elif cell.type == 'edit' %}
                    <button
                            class="btn btn-default btn-sm {% if cell.disabled is defined %}disabled{% endif %}"
                            style="position: relative;top:-7px"
                            {% if cell.disabled is not defined %}onclick='epfl.TableListLayout.EditClick("{{ compo.id }}","{{ compo.data }}")'{% endif %}>
                        <i class="fa fa-edit"></i> Bearbeiten
                    </button>
                {% elif cell.type == 'popover' %}
                    <span data-toggle="popover" data-content="{{ cell.popover_text }}" data-placement="top">{{ cell.text }} </span>
                {% endif %}
            </div>
        </td>
    {% endif %}
{% endfor %}


