li {
    list-style-type: none; 
    margin:5px;
}

.listicon {
    display:table-cell;
    width:20px;
    text-align:center;
}
.listele {
    display:table-cell;
    border:dotted 1px black;
    padding:5px;
}

