	<div epflid="{{compo.cid}}">
		{% if compo.label %}
		<label for="{{compo.cid}}" class="col-sm-2 control-label">{{compo.label}}</label>
		{% endif %}
	    <div
	         class="{{ 'col-sm-10' if compo.label else 'col-sm-12' }}{{ ' has-error' if compo.validation_error else '' }}">
	
	        {% if compo.input_type == "textarea" %}
	            <div epfl-type="textarea">
	                <textarea class="form-control" id="{{compo.cid}}" name="{{compo.name}}" style="{{ compo.style if compo.style is defined else '' }}" placeholder="{{compo.placeholder if compo.placeholder is not none else ''  }}">{{compo.value if compo.value is not none else ''  }}</textarea>
	            </div>
	
	        {%  elif compo.input_type == "select" %}
	            <div epfl-type="select">
	                <select class="form-control" id="{{compo.cid}}" name="{{compo.name}}">
	                {% for option in compo.options %}
	                    {% if option is string %}
	                    {% set value = option %}
	                    {% set visual = option %}
	                {% else %}
	                    {% if option[0] is defined and option[1] is defined %}
	                        {% set value = option[0] %}
	                        {% set visual = option[1] %}
	                    {% endif %}
	                    {% if option["visual"] is defined  %}
	                          {% set visual = option["visual"] %}
	                          {% if option["value"] is defined %}
	                              {% set value = option["value"] %}
	                          {% endif %}
	                          {% if option["id"] is defined %}
	                              {% set value = option["id"] %}
	                          {% endif %}
	                    {% endif %}
	                {% endif %}
	                    <option value="{{ value }}" {% if compo.value == value %} selected="selected" {% endif %} >{{ visual }}</option>
	                {% endfor %}
	                </select>
	            </div>
	
	        {%  elif compo.input_type == "radio" %}
	
	            <div class="form-control" id="{{compo.cid}}" name="{{compo.name}}" epfl-type="radiobuttongroup">
	            {% for option in compo.options %}
	                {% if option is string %}
	                    {% set value = option %}
	                    {% set visual = option %}
	                {% else %}
	                    {% if option[0] is defined and option[1] is defined %}
	                        {% set value = option[0] %}
	                        {% set visual = option[1] %}
	                    {% endif %}
	                    {% if option["visual"] is defined  %}
	                          {% set visual = option["visual"] %}
	                          {% if option["value"] is defined %}
	                              {% set value = option["value"] %}
	                          {% endif %}
	                          {% if option["id"] is defined %}
	                              {% set value = option["id"] %}
	                          {% endif %}
	                    {% endif %}
	                {% endif %}
	
	                <input type="radio" value="{{ value }}" name="{{compo.cid}}" {% if compo.value == value %} checked="checked" {% endif %} >{{ visual }}</input>
	            {% endfor %}
	            </div>
	
	        {%  elif compo.input_type == "buttonset" %}
	            <div id="{{compo.cid}}" name="{{compo.name}}" epfl-type="buttonsetgroup" class="btn-group" data-toggle="buttons">
	            {% for option in compo.options %}
	                {% if option is string %}
	                    {% set value = option %}
	                    {% set visual = option %}
	                {% else %}
	                    {% if option[0] is defined and option[1] is defined %}
	                        {% set value = option[0] %}
	                        {% set visual = option[1] %}
	                    {% endif %}
	                    {% if option["visual"] is defined  %}
	                          {% set visual = option["visual"] %}
	                          {% if option["value"] is defined %}
	                              {% set value = option["value"] %}
	                          {% endif %}
	                          {% if option["id"] is defined %}
	                              {% set value = option["id"] %}
	                          {% endif %}
	                    {% endif %}
	                {% endif %}
	                <label for="{{ compo.cid }}_{{ value }}"
	                           class="btn btn-default blue {{ "active" if compo.value == value else "" }}">
	                     <input type="radio"
	                           id="{{ compo.cid }}_{{ value }}"
	                           value="{{ value }}"
	                           name="{{compo.cid}}"
	                           class="toggle"
	                            {% if compo.value == value %} checked="checked" {% endif %}>
	                    {{ visual }}
	                </label>
	
	            {% endfor %}
	            </div>
	
	        {%  elif compo.input_type == "toggle" %}
	        <div class="toggle" epfl-type="toggle">
	            <input type="checkbox" id="{{compo.cid}}" name="{{compo.name}}" data-on-text="{{ compo.on_text }}" data-off-text="{{ compo.off_text }}"  value="{{compo.value}}"/>
	        </div>
	
	        {%  elif compo.input_type == "checkbox" %}
	            <div epfl-type="checkbox">
	                <input class="form-control" type="{{compo.input_type}}" id="{{compo.cid}}" name="{{compo.name}}" value="{{compo.value}}" />
	            </div>
	
	        {% else %}
	            <div epfl-type="defaultinput">
	                <input class="form-control" type="{{compo.input_type}}" id="{{compo.cid}}" name="{{compo.name}}" value="{{compo.value}}" {{ "data-provide='typeahead'"|safe if compo.typeahead else "" }}/>
	            </div>
	        {% endif %}
	
	        {% if compo.validation_error %}
	            <small class="help-block has-error">{{ compo.validation_error }}</small>
	        {% endif %}
	    </div>
    </div>
