{% set compo_col = compo.compo_col %}
<div id="{{ compo.cid }}" epflid="{{ compo.cid }}"
     class="row epfl-radio-input {{ 'mandatory' if compo.mandatory else '' }}">
    {% if compo.label %}
        {% if compo.layout_vertical == True %}
            <div class="row">
                <div class="col-sm-{{ compo_col }}">
                    <label class="control-label">{{ compo.label }}</label>
                </div>
            </div>
        {% else %}
            {% set compo_col = compo_col - compo.label_col %}
            <label class="control-label col-sm-{{ compo.label_col }}">{{ compo.label }}</label>
        {% endif %}
    {% endif %}
{% if compo.layout_vertical == True %}<div class="row">{% endif %}
    <div class="col-sm-{{ compo_col }}{{ ' has-error' if compo.validation_error else '' }}">
        <div name="{{ compo.name }}" epfl-type="radiobuttongroup">
        {% if compo.options != None %}
            {% for option in compo.options %}
                {% if option is string %}
                    {% set value = option %}
                    {% set visual = option %}
                {% else %}
                    {% if option[0] is defined and option[1] is defined %}
                        {% set value = option[0] %}
                        {% set visual = option[1] %}
                    {% endif %}
                    {% if option["visual"] is defined %}
                        {% set visual = option["visual"] %}
                        {% if option["value"] is defined %}
                            {% set value = option["value"] %}
                        {% endif %}
                        {% if option["id"] is defined %}
                            {% set value = option["id"] %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <input type="radio"
                       value="{{ value }}"
                       {% if compo.value == value %}checked="checked"{% endif %}
                       name="{{ compo.cid }}"
                       {% if compo.readonly is defined and compo.readonly %}disabled{% endif %}>{{ visual }}{% endfor %}{% endif %}
        </div>
        {% if compo.validation_error %}
            <small class="help-block">{{ compo.validation_error }}</small>
        {% endif %}
    </div>
{% if compo.layout_vertical == True %}</div>{% endif %}
</div>