<div epflid="{{ compo.cid }}" class="epfl-headbar">
    <section class="header-container header-fixed">
        <header class="top-header clearfix">
            <div class="headbar-title">
                <a href="{{ compo.titlelink }}" title="{{ compo.title_hover_text|default("") }}">
                    <span>{{ compo.title }}</span>
                </a>
            </div>
            <div class="top-nav">
                <div class="pull-left headbar-left">
                    <span class="headbar-icontext"><i class="fa fa-user"></i> {{ compo.username }}</span>
                    <span class="headbar-icontext"><i class="fa fa-group"></i> {{ compo.usergroup }}</span>
                </div>
                <div class="pull-right">
                    <span class="headbar-icontext">
                        <a href="#"
                           onclick="epfl.dispatch_event('{{ compo.cid }}', 'logout',{redirect:'{{ compo.logoutlink }}'});">
                            <i class="fa fa-sign-out"></i>Logout
                        </a>
                    </span>
                </div>
            </div>
        </header>
    </section>
</div>

