<div epflid="{{ compo.cid }}">
    <section class="header-container ng-scope header-fixed">
        <header class="top-header clearfix ng-scope">
            <div class="logo">
                <a href="{{ compo.titlelink }}" title="{{ compo.title_hover_text|default("") }}">
                    <span class="ng-binding">{{ compo.title }}</span>
                </a>
            </div>
            <div class="top-nav">
                <ul class="nav-left list-unstyled">
                    <li>
                        <a><span style="color:#ffffff;padding:15px;overflow: hidden;">
                            <i class="fa fa-user"></i> {{ compo.username }}</span></a>
                    </li>
                    <li>
                        <a><span style="color:#ffffff;padding:15px;overflow: hidden;">
                            <i class="fa fa-group"></i> {{ compo.usergroup }}</span></a>
                    </li>
                </ul>
                <ul class="nav-right pull-right list-unstyled">

                    <li style="width: 120px;padding: 15px">
                        <span style="padding-left:10px;">
                            <a href="{{ compo.logoutlink }}">
                                <i class="fa fa-sign-out" ></i>Logout
                            </a>
                        </span>
                    </li>

                </ul>
            </div>
        </header>
    </section>
</div>