{% macro render() %}
    {% set compo = kwargs.compo %}
    {% set compo_obj = kwargs.compo_obj %}
    {% if compo_obj.event_name is defined %}
    	{{ caller() }}
    {% else %}
    <a class="list-group-item col-sm-12{{ " active" if compo.is_current_url(compo_obj.url) else "" }}"
        {% if compo.event_name is not defined or not compo.event_name %}
            href="{{ compo_obj.url }}"
        {% endif %}
       epflid="{{ compo_obj.cid }}">
        {% if compo_obj.icon is defined and compo_obj.icon %}
            <i class="fa fa-{{ compo_obj.icon }}"></i>
        {% endif %}
    	{{ compo_obj.text }}
    </a>
    {% endif %}
{% endmacro %}