<div id="{{compo.cid}}" epflid="{{ compo.cid }}" class="row">
    {% if compo.label %}
        <label for="{{compo.cid}}" class="col-sm-2 control-label">{{ compo.label }}</label>
    {% endif %}

    <div class="{{ 'col-sm-10' if (compo.label is defined and not compo.label is none) else 'col-sm-12' }}">
        <button title="{{ compo.tooltip if (compo.tooltip is not none) else '' }}" class="btn form-control epfl-button {% if compo.color is defined %} btn-{{ compo.color }}{% endif %}{{ " disabled" if (not compo.disabled is none and compo.disabled) else "" }}" type="{{ 'submit' if compo.is_submit else 'button' }}">
            {% if compo.icon is defined and (not compo.icon is none) %}

            <i class="fa {{ compo.icon }}"></i>
            {% endif %}
            {% if compo.value is defined and not compo.value is none %}
                {{ compo.value }}
            {% endif %}

        </button>
    </div>
 </div>
