<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="row epfl-checkbox-input">
    {% if compo.compact %}
        <div>
            {% if compo.label %} <label for="{{ compo.cid }}_input" class="control-label">{% endif %}
            <input class="epfl-checkbox"
                   type="checkbox"
                   id="{{ compo.cid }}_input"
                   name="{{ compo.name }}"
                   value="{{ compo.value if compo.value is not none else '' }}"
                   style="width:auto;"/>
            {% if compo.label %}{{ compo.label }}</label>{% endif %}
            {% if compo.validation_error %}
                <small class="help-block has-error">{{ compo.validation_error }}</small>
            {% endif %}
        </div>
    {% else %}
        {% if compo.label %}
            <label for="{{ compo.cid }}_input" class="control-label">{{ compo.label }}</label>
        {% endif %}
        <div>
            <input class="form-control epfl-checkbox"
                   type="checkbox"
                   id="{{ compo.cid }}_input"
                   name="{{ compo.name }}"
                   value="{{ compo.value if compo.value is not none else '' }}"
                   style="width:auto;"/>
            {% if compo.validation_error %}
                <small class="help-block has-error">{{ compo.validation_error }}</small>
            {% endif %}
        </div>
    {% endif %}
</div>
