{% set compo_col = compo.compo_col %}
<div id="{{ compo.cid }}" epflid="{{ compo.cid }}"
     class="row epfl-buttonradio-input {{ 'mandatory' if compo.mandatory else '' }}">
     {% if compo.label %}
        {% if compo.layout_vertical == True %}
            <div class="row">
                <div class="col-sm-{{ compo_col }}">
                    <label class="control-label">{{ compo.label }}</label>
                </div>
            </div>
        {% else %}
            {% set compo_col = compo_col - compo.label_col %}
            <label class="control-label col-sm-{{ compo.label_col }}">{{ compo.label }}</label>
        {% endif %}
    {% endif %}
{% if compo.layout_vertical == True %}<div class="row">{% endif %}
    <div class="col-sm-{{ compo_col }}{{ ' has-error' if compo.validation_error else '' }}">
        <div name="{{ compo.name }}" epfl-type="radiobuttongroup" class="btn-group epfl-buttonradio" data-toggle="buttons">
            {% for option in compo.options %}
                {% if option is string %}
                    {% set value = option %}
                    {% set visual = option %}
                {% else %}
                    {% if option[0] is defined and option[1] is defined %}
                        {% set value = option[0] %}
                        {% set visual = option[1] %}
                    {% endif %}
                    {% if option["visual"] is defined  %}
                          {% set visual = option["visual"] %}
                          {% if option["value"] is defined %}
                              {% set value = option["value"] %}
                          {% endif %}
                          {% if option["id"] is defined %}
                              {% set value = option["id"] %}
                          {% endif %}
                    {% endif %}
                {% endif %}
                <label for="{{ compo.cid }}_{{ value }}"
                           class="btn btn-default blue {{ "active" if compo.value == value else "" }}">
                     <input type="radio"
                           id="{{ compo.cid }}_{{ value }}"
                           value="{{ value }}"
                           name="{{ compo.cid }}"
                           class="toggle"
                            {% if compo.value == value %} checked="checked" {% endif %}>
                    {{ visual }}
                </label>
            {% endfor %}
        </div>
        {% if compo.validation_error %}
            <small class="help-block">{{ compo.validation_error }}</small>
        {% endif %}
    </div>
{% if compo.layout_vertical == True %}</div>{% endif %}
</div>