{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}

    Das Menu:<p>
    {{ menu.render() }}
    <p>&nbsp;</p>

    {% compo info_box("$txt_box_dashboard_headline") %}
        $txt_box_dashboard
    {% endcompo %}

    {% compo table_box("Meine offenen Testberichte") %}
        {{ report_table1.render() }}
    {% endcompo %}

    {{ report_table2.parts.table() }}
    {{ report_table2.parts.pager() }}

    {% compo form() %}
        <h2>$txt_edit_product_review_data_headline</h2>

        {% call form.macros.rows() %}
            {{ self.macros.row(self.status) }}
            <tr><td colspan="2"><hr></td></tr>
            {{ self.macros.row(self.test_value1) }}
            {{ self.macros.row(self.test_value2) }}
            {{ self.macros.row(self.test_value3) }}
            {{ self.macros.row(self.test_value4) }}
            {{ self.macros.row(self.test_value5) }}
            {{ self.macros.row(self.test_value6) }}
            {{ self.macros.row(self.tv_1)}}
            {{ self.macros.row(self.tv_2)}}
            {{ self.macros.row(self.tv_3)}}
            {{ self.macros.row(self.tv_4)}}
            {{ self.macros.row(self.tv_5)}}
            {{ self.macros.row(self.tv_6)}}
            {{ self.macros.row(self.tv_7)}}
            {{ self.macros.row(self.tv_8)}}
            <tr><td colspan="2"><hr></td></tr>
            {{ self.macros.row(self.test_value7) }}
            {{ self.macros.row(self.test_value8) }}
            <tr><td colspan="2"><hr></td></tr>
        {% endcall %}
        {% call self.macros.buttons() %}
            {{ self.macros.button(self.click) }}
            {{ self.macros.button(self.save) }}
        {% endcall %}
        {% call self.macros.buttons() %}
            {{ self.macros.button(self.reset) }}
            {{ self.macros.button(self.hide) }}
            {{ self.macros.button(self.toggle_table) }}
        {% endcall %}

    {% endcompo %}


{% endblock %}
