<div id="{{ compo.cid }}" epflid="{{ compo.cid }}" class="epfl-colorthief"
     style="{% if compo.height != None %}height:{{ compo.height }}px;{% endif %} {% if compo.width != None %}width:{{ compo.width }}px;{% endif %}">
    <div class="clearfix"></div>
    {% if compo.image_src != None %}
        <i class="fa fa-times fa-lg color-danger epfl-colorthief-remove-icon"></i>
    {% endif %}
    <img class="epfl-colorthief-image" data-cid="{{ compo.cid }}" {% if compo.image_src != None %}src="{{ compo.image_src }}"{% endif %}/>
    {% if compo.image_src == None %}
    <div class="epfl-colorthief-dropzone text-center" style="height:100%;width:100%;">
            <i class="fa fa-image fa-5x epfl-dropzone-colorthief-addicon"></i>
    </div>
{% endif %}
    {%if compo.value != None %}
        {% for val in compo.value %}
            <div class="epfl-colorthief-color pull-left text-center" style="background-color: {{ val["rgb"] }}" data-color="{{ val["rgb"] }}">
            {% if val["selected"] == True %}<i class="fa fa-check fa-lg text-primary"></i>{% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="clearfix"></div>
</div>