{% macro register_field_js(cid) %}
    <script>

        var selector = "#{{cid}}";

           if($(selector).attr('type') == 'radiobuttongroup' || $(selector).attr('type') == 'buttonsetgroup'){
               if($(selector).attr('type') == 'buttonsetgroup'){
                    $(selector).buttonset();
               }
               selector = "input[type=radio][name={{ cid }}]";
           }

        if ($(selector).attr('type') == 'checkbox') {
            $(selector).attr('checked', $("#{{cid}}").val() == 'True');
        }

        $(selector).change(function() {
            var val = $(this).val();
            if ($(this).attr('type') == 'checkbox') {
                val = $(this).is(':checked');
            }
            epfl.repeat_enqueue(epfl.make_component_event("{{ cid }}",
                                                          'change',
                                                          {value: val}),
                                "{{ cid }}");
        });
    </script>
{% endmacro %}