<div epflid="{{ compo.cid }}">
    {% if compo.label %}
        <label for="{{ compo.cid }}" class="col-sm-2 control-label">{{ compo.label }}</label>
    {% endif %}
    <div class="{{ 'col-sm-10' if compo.label else 'col-sm-12' }}">
        {% set styles = "" %}
        {% if compo.size == "large" %}{% set styles = styles + " input-lg" %}{% endif %}
        {% if compo.size == "small" %}{% set styles = styles + " input-sm" %}{% endif %}
        {% if compo.color %}{% set styles = styles + " btn-"+compo.color %}{% endif %}

        <button class="form-control{{ styles }}" type="{{ 'submit' if compo.is_submit else 'button' }}" id="{{ compo.cid }}">
            {% if compo.icon is defined %}
                <i class="fa {{ compo.icon }}"></i>
            {% else %}
                {{ compo.value }}
            {% endif %}
        </button>
    </div>
</div>
