{% compodef() %}
    <div epflid="{{self.cid}}"
         class="{{ 'col-sm-10' if self.label else 'col-sm-12' }}{{ ' has-error' if self.validation_error else '' }}">

        {% if self.input_type == "textarea" %}
            <div epfl-type="textarea">
                <textarea class="form-control" id="{{self.cid}}" name="{{self.name}}" >{{self.value}}</textarea>
            </div>

        {%  elif self.input_type == "select" %}
            <div epfl-type="select">
                <select class="form-control" id="{{self.cid}}" name="{{self.name}}">
                {% for option in self.options %}
                    {% if option is string %}
                    {% set value = option %}
                    {% set visual = option %}
                {% else %}
                    {% if option[0] is defined and option[1] is defined %}
                        {% set value = option[0] %}
                        {% set visual = option[1] %}
                    {% endif %}
                    {% if option["visual"] is defined  %}
                          {% set visual = option["visual"] %}
                          {% if option["value"] is defined %}
                              {% set value = option["value"] %}
                          {% endif %}
                          {% if option["id"] is defined %}
                              {% set value = option["id"] %}
                          {% endif %}
                    {% endif %}
                {% endif %}
                    <option value="{{ value }}" {% if self.value == value %} selected="selected" {% endif %} >{{ visual }}</option>
                {% endfor %}
                </select>
            </div>

        {%  elif self.input_type == "radio" %}

            <div class="form-control" id="{{self.cid}}" name="{{self.name}}" epfl-type="radiobuttongroup">
            {% for option in self.options %}
                {% if option is string %}
                    {% set value = option %}
                    {% set visual = option %}
                {% else %}
                    {% if option[0] is defined and option[1] is defined %}
                        {% set value = option[0] %}
                        {% set visual = option[1] %}
                    {% endif %}
                    {% if option["visual"] is defined  %}
                          {% set visual = option["visual"] %}
                          {% if option["value"] is defined %}
                              {% set value = option["value"] %}
                          {% endif %}
                          {% if option["id"] is defined %}
                              {% set value = option["id"] %}
                          {% endif %}
                    {% endif %}
                {% endif %}


                <input type="radio" value="{{ value }}" name="{{self.cid}}" {% if self.value == value %} checked="checked" {% endif %} >{{ visual }}</input>
            {% endfor %}
            </div>

        {%  elif self.input_type == "buttonset" %}
            <div id="{{self.cid}}" name="{{self.name}}" epfl-type="buttonsetgroup" class="btn-group" data-toggle="buttons">
            {% for option in self.options %}
                {% if option is string %}
                    {% set value = option %}
                    {% set visual = option %}
                {% else %}
                    {% if option[0] is defined and option[1] is defined %}
                        {% set value = option[0] %}
                        {% set visual = option[1] %}
                    {% endif %}
                    {% if option["visual"] is defined  %}
                          {% set visual = option["visual"] %}
                          {% if option["value"] is defined %}
                              {% set value = option["value"] %}
                          {% endif %}
                          {% if option["id"] is defined %}
                              {% set value = option["id"] %}
                          {% endif %}
                    {% endif %}
                {% endif %}

                <label for="{{ self.cid }}_{{ value }}"
                           class="btn btn-default blue {{ "active" if self.value == value else "" }}">
                     <input type="radio"
                           id="{{ self.cid }}_{{ value }}"
                           value="{{ value }}"
                           name="{{self.cid}}"
                           class="toggle"
                            {% if self.value == value %} checked="checked" {% endif %}>
                    {{ visual }}
                </label>

            {% endfor %}
            </div>

        {%  elif self.input_type == "toggle" %}
        <div class="toggle" epfl-type="toggle">
            <input type="checkbox" id="{{self.cid}}" name="{{self.name}}" data-on-text="{{ self.on_text }}" data-off-text="{{ self.off_text }}"  value="{{self.value}}"/>
        </div>

        {%  elif self.input_type == "checkbox" %}
            <div epfl-type="checkbox">
                <input class="form-control" type="{{self.input_type}}" id="{{self.cid}}" name="{{self.name}}" value="{{self.value}}" />
            </div>

        {% else %}
            <div epfl-type="defaultinput">
                <input class="form-control" type="{{self.input_type}}" id="{{self.cid}}" name="{{self.name}}" value="{{self.value}}" {{ "data-provide='typeahead'"|safe if self.typeahead else "" }}/>
            </div>
        {% endif %}

        {% if self.validation_error %}
            <small class="help-block has-error">{{ self.validation_error }}</small>
        {% endif %}
    </div>
{% endcompodef %}


{% compopart js () %}
{% import 'form_components/form_macros.html' as form %}
{{ form.register_field_js(self.cid) }}
{% endcompopart %}