{% compodef() %}
<div epflid="{{ self.cid }}">
    {% if self.label %}
        <label for="{{self.cid}}" class="col-sm-2 control-label">{{self.label}}</label>
    {% endif %}
    <div class="{{ 'col-sm-10' if self.label else 'col-sm-12' }}">
        <button class="form-control" type="button" id="{{self.cid}}">
            {{self.value}}
        </button>
    </div>
 </div>
{% endcompodef %}


{% compopart js () %}
<script>
    $('[id="{{self.cid}}"]').click(function(event) {
        var request = epfl.make_component_event("{{self.callback[0]}}", "{{self.callback[1]}}");
        epfl.send(request);
    });
</script>
{% endcompopart %}