{% macro contextmenu(menuentries,child_id,child_data) %}
    <button class='btn btn-default btn-xs pull-right'><i class='fa fa-bars'></i></button>
    <ul class="context-dropdown-menu">
        {% for entry in menuentries %}
            {% if entry.type == "link" %}
                <li class="entry" data-event="{{ entry.event }}" data-id="{{ child_id }}"
                    data-data="{{ child_data }}">{{ entry.name }}</li>
            {% else %}
                <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

<div epflid="{{ compo.cid }}" id="{{ compo.cid }}" class="epfl-simple-tree">
 {% if compo.is_loading == True %}
            <div class="epfl-simple-tree-loading">
                <p class="text-center text-primary"><i class="fa fa-tree fa-spin fa-5x"></i></p>
                <p class="text-center">Baum wird geladen</p>
            </div>
{% else %}

    <div class="epfl-simple-tree-data" style="height:{{ compo.height }}px;overflow-y:scroll;overflow-x:hidden">
    <div class="epfl-simple-tree-scroll-upper"></div>

        {% for entry_obj in compo.tree_data.iteritems() %}
            {% set entry = entry_obj[1] %}
            <div class="epfl-simple-tree-leaf-0 epfl-simple-tree-openable{% if entry['draggable'] is defined and entry['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}{% if entry['droppable'] is defined and entry['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}{% if compo.selected_0_id ==  entry['id'] %} epfl-simple-tree-leaf-selected{% endif %}"
                    data-leafid="{{ entry['id'] }}" data-open="{% if entry["children"] is defined %}true{% else %}false{% endif %}"
                    onclick="epfl.Simpletree.Leaf0Click({{ entry['id'] }},{% if entry["children"] is defined %}true{% else %}false{% endif %},'{{ compo.cid }}')">
            <span {% if compo.selected_0_id != entry['id'] and entry['marked'] is defined and entry['marked'] == True %}class="text-primary"{% endif %}>
                <i class="fa {% if entry["children"] is defined %}fa fa-{{ entry["icon"]["opened"] }}{% else %}fa fa-{{ entry["icon"]["closed"] }}{% endif %}"
                         data-leafid="{{ entry['id'] }}" data-open="{% if entry["children"] is defined %}true{% else %}false{% endif %}"></i>
            {% if entry['marked'] is defined and entry['marked'] == True %}<i class="fa fa-check"></i>{% endif %}
                {{ entry['label'] }}</span>
                {% if entry['context_menu'] is defined %}
                    {{ contextmenu(entry['context_menu'],entry['id'],entry['label']) }}
                {% endif %}
            </div>

            {% if entry["children"] is defined %}
                {% for child_obj in entry["children"].iteritems() %}
                    {% set child = child_obj[1] %}

                    <div class="epfl-simple-tree-leaf-1 epfl-simple-tree-openable{% if child['draggable'] is defined and child['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}{% if child['droppable'] is defined and child['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}{% if compo.selected_1_id ==  child['id'] %} epfl-simple-tree-leaf-selected{% endif %}"
                            data-leafid="{{ child['id'] }}" data-open="{% if child["children"] is defined %}true{% else %}false{% endif %}"
                            onclick="epfl.Simpletree.Leaf1Click({{ child['id'] }},{{ entry['id'] }},{% if child["children"] is defined %}true{% else %}false{% endif %},'{{ compo.cid }}')">
                        <span {% if compo.selected_1_id != child['id'] and child['marked'] is defined and child['marked'] == True %}class="text-primary"{% endif %}>
                            <i class="{% if child["children"] is defined %}fa fa-{{ child["icon"]["opened"] }}{% else %}fa fa-{{ child["icon"]["closed"] }}{% endif %}"
                                     data-leafid="{{ child['id'] }}" data-open="{% if child["children"] is defined %}true{% else %}false{% endif %}"
                                     onclick="epfl.Simpletree.Leaf1OpenClose({{ child['id'] }},{{ entry['id'] }},{% if child["children"] is defined %}true{% else %}false{% endif %},'{{ compo.cid }}'); event.stopPropagation();"></i>
                            {% if child['marked'] is defined and child['marked'] == True %}<i class="fa fa-check"></i>{% endif %}
                            {{ child['label'] }}
                        </span>
                        {% if child['context_menu'] is defined %}
                            {{ contextmenu(child['context_menu'],child['id'],child['label']) }}
                        {% endif %}
                    </div>

                    {% if child["children"] is defined %}
                        {% for subchild_obj in child["children"].iteritems() %}
                            {% set subchild = subchild_obj[1] %}
                            <div class="epfl-simple-tree-leaf-2{% if subchild['draggable'] is defined and subchild['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}{% if subchild['droppable'] is defined and subchild['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}{% if compo.selected_2_id ==  subchild['id'] %} epfl-simple-tree-leaf-selected{% endif %}"
                                    data-leafid="{{ subchild['id'] }}"
                                    onclick="epfl.Simpletree.Leaf2Click({{ subchild['id'] }},'{{ compo.cid }}')">
                                        <span {% if compo.selected_2_id != subchild['id'] and subchild['marked'] is defined and subchild['marked'] == True %}class="text-primary"{% endif %}>
                                            <i class="fa fa-{{ subchild["icon"] }}" data-leafid="{{ subchild['id'] }}"></i>{% if subchild['marked'] is defined and subchild['marked'] == True %}<i class="fa fa-check"></i>{% endif %}
                                            {{ subchild['label'] }}
                                        </span>
                                        {% if subchild['context_menu'] is defined %}
				                            {{ contextmenu(subchild['context_menu'],subchild['id'],subchild['label']) }}
				                        {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    <div class="epfl-simple-tree-scroll-lower"></div>
    </div>
{% endif %}
</div>

