{% macro contextmenu(menuentries,child_id,child_data) %}
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"
            class="btn btn-default btn-xs pull-right epfl-simple-tree-dropdown-button"><i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu epfl-simple-tree-dropdown" role="menu"
        aria-labelledby="dLabel">
        {% for menuentry in menuentries %}
            {% if menuentry.type == "link" %}
                <li><a href="#"
                       onclick=" epfl.Simpletree.ContextEvent('{{ menuentry.event }}', {entry_id:'{{ child_id }}', data: '{{ child_data }}'});">
                    {{ menuentry.name }}</a></li>
            {% else %}
                <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
<div epflid="{{ compo.cid }}" id="{{ compo.cid }}" class="epfl-simple-tree">
    <div class="row epfl-simple-tree-filter">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text"
                       class="form-control epfl-simple-tree-search"
                       placeholder="Suchen..." {% if compo.search_string %}
                       value="{{ compo.search_string }}"{% endif %}>
                  <span class="input-group-btn">
                    <button class="btn btn-default epfl-simple-tree-search-btn" type="button"><i
                            class="fa fa-search"></i></button>
                  </span>
            </div>
        </div>
        <div class="col-sm-6">
            <select class="form-control epfl-simple-tree-filter">
                {% for filter_key in compo.all_filter %}
                    {% if filter_key is string %}
                        {% set value = filter_key %}
                        {% set visual = filter_key %}
                    {% else %}
                        {% if filter_key[0] is defined and filter_key[1] is defined %}
                            {% set value = filter_key[0] %}
                            {% set visual = filter_key[1] %}
                        {% endif %}
                        {% if filter_key["visual"] is defined %}
                            {% set visual = filter_key["visual"] %}
                            {% if filter_key["value"] is defined %}
                                {% set value = filter_key["value"] %}
                            {% endif %}
                            {% if filter_key["id"] is defined %}
                                {% set value = filter_key["id"] %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <option value="{{ value }}"{% if compo.filter_key == value %}
                            selected="selected"{% endif %}>{{ visual }}</option>
                {% endfor %}


            </select>
        </div>
    </div>
    <div class="epfl-simple-tree-data" style="height:{{ compo.height }}px;overflow-y:scroll;overflow-x:hidden">
    <div class="epfl-simple-tree-scroll-upper"></div>
        {% for entry_obj in compo.tree_data.iteritems() %}
            {% set entry = entry_obj[1] %}
            <div class="epfl-simple-tree-leaf-0
                        {% if entry['marked'] is defined and entry['marked'] == True %} epfl-simple-tree-marked{% endif %}
                        {% if entry['draggable'] is defined and entry['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}
                        {% if entry['droppable'] is defined and entry['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}"
                 leafid="{{ entry['id'] }}" data-open="{% if entry["children"] is defined %}true{% else %}false{% endif %}">
            <span>
                <i class="fa {% if entry["children"] is defined %}fa fa-{{ entry["icon"]["opened"] }}{% else %}fa fa-{{ entry["icon"]["closed"] }}{% endif %}"></i>
                {{ entry['label'] }}</span>
                {% if entry['context_menu'] is defined %}
                    {{ contextmenu(entry['context_menu'],entry['id'],entry['label']) }}
                {% endif %}
            </div>

            {% if entry["children"] is defined %}
                {% for child_obj in entry["children"].iteritems() %}
                    {% set child = child_obj[1] %}

                    <div class="epfl-simple-tree-leaf-1
                                {% if child['marked'] is defined and child['marked'] == True %} epfl-simple-tree-marked{% endif %}
                                {% if child['draggable'] is defined and child['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}
                                {% if child['droppable'] is defined and child['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}"
                         leafid="{{ child['id'] }}" data-open="{% if child["children"] is defined %}true{% else %}false{% endif %}"
                         onclick="epfl.Simpletree.Leaf1Clicked({{ child['id'] }},{{ entry['id'] }},{% if child["children"] is defined %}true{% else %}false{% endif %},'{{ compo.cid }}')">
                        <span>
                            <i class="{% if child["children"] is defined %}fa fa-{{ child["icon"]["opened"] }}{% else %}fa fa-{{ child["icon"]["closed"] }}{% endif %}"></i>
                            {{ child['label'] }}
                        </span>
                        {% if child['context_menu'] is defined %}
                            {{ contextmenu(child['context_menu'],child['id'],child['label']) }}
                        {% endif %}
                    </div>

                    {% if child["children"] is defined %}
                        {% for subchild_obj in child["children"].iteritems() %}
                            {% set subchild = subchild_obj[1] %}
                            <div class="epfl-simple-tree-leaf-2
                                            {% if subchild['marked'] is defined and subchild['marked'] == True %} epfl-simple-tree-marked{% endif %}
                                            {% if subchild['draggable'] is defined and subchild['draggable'] == True %} epfl-simple-tree-leaf-dragable{% endif %}
                                            {% if subchild['droppable'] is defined and subchild['droppable'] == True %} epfl-simple-tree-leaf-droppable{% endif %}"
                                 leafid="{{ subchild['id'] }}"
                                 onclick="epfl.Simpletree.Leaf2Clicked({{ subchild['id'] }},'{{ compo.cid }}')">
                                        <span>
                                            <i class="fa fa-{{ subchild["icon"] }}"></i>{{ subchild['label'] }}
                                        </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    <div class="epfl-simple-tree-scroll-lower"></div>
    </div>
</div>

