.epfl-list {
    overflow: visible;
}

.grouped-entry.col-sm-12 {
    padding: 0;
    position: relative;
}

.grouped-entry .hover-container {
    /*display: inline-block;*/
    /*margin: 0 0 -5px;*/
    /*position: relative;*/
}

.grouped-entry .list-group {
    position: absolute;

    top: 0;
    left: 100%;
    width: 100%;

    display: none;
}

.grouped-entry:hover .list-group {
    display: block;
}

div.headed-entry.col-sm-12 a.list-group-item {
    padding-left: 30px;
}

div.headed-entry.col-sm-12 {
    margin: 0;
    padding: 0;
}
