.epfl-list {
    overflow: visible;
}

.grouped-entry.col-sm-12 {
    padding: 0;
    position: relative;
}

.grouped-entry .hover-container {
    /*display: inline-block;*/
    /*margin: 0 0 -5px;*/
    /*position: relative;*/
}

.grouped-entry .list-group {
    position: absolute;

    top: 0;
    left: 210px;
    width: 200px;

    display: none;
}

.grouped-entry:hover .list-group {
    display: block;
}